<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    {% if header.description %}
    <meta name="description" content="{{ header.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if header.robots %}
    <meta name="robots" content="{{ header.robots }}">
    {% endif %}
    <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ theme_url }}/img/logo.png">

    <title>{% if header.title %}{{ header.title }} - {{ page.header.subtitle }} | {% endif %}{{ site.title }}</title>

    {# Add css #}
    {% block stylesheets %}
      {% do assets.add('theme://css/styles.css',101) %}
    {% endblock %}
    {{ assets.css() }}

    {# Add js #}
    {% block javascripts %}
      {% do assets.add('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 101) %}
      {% do assets.add('theme://js/scripts.js') %}

      {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
        {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
      {% endif %}
    {% endblock %}
    {{ assets.js() }}

    {% endblock head %}
  </head>

  {% set body_class = (page.root) ? page.slug : page.parent.slug %}

  <body class="page-{{ body_class }}">

    {# include the header + navigation #}
    {% include 'partials/header.html.twig' %}

    <section role="site-content">
      {% block content %}{% endblock %}
    </section>

    {# include the footer #}
    {% include 'partials/footer.html.twig' %}
  </body>
  {% block bottom %}{% endblock %}
</html>
