{% set preview = page.header.preview %}
{% set page_title = page.title %}

{% set desc = page.header.desc ? page.header.desc : page.header.lead %}

<a class="row" href="{{ page.url }}">

  {{ page.media[preview].html(page_title, 'preview_image') }}

  <div class="date">{{ page.date|date("d/m/Y - H:i") }}</div>
  <h2>{{ page_title }}</h2>

  {% if desc %}
    <div class="desc">{{ desc }}</div>
  {% endif %}
</a>
