<header role="article-header">
  <h1 class="title">{{ page.title }} <span>{{ page.header.subtitle }}</span></h1>
  {% if page.header.lead %}<div class="lead">{{ page.header.lead }}</div>{% endif %}
</header>

{% if page.content %}
  <article role="article-content">
    {% if page.header.background and page.header.my_role %}
      <div class="case-top">
        <div class="case-background">
          <h2>Bakgrund</h2>
          <p>{{ page.header.background }}</p>
        </div>
        <div class="case-role">
          <h2>Min roll</h2>
          <p>{{ page.header.my_role }}</p>
        </div>
      </div>
    {% elseif page.header.background or page.header.my_role %}
      {% set box_title = page.header.background ? 'Bakgrund' : 'Min roll' %}
      <h2>{{ box_title }}</h2>
      <p>{{ page.header.background }}{{page.header.my_role}}</p>
    {% endif %}

    {% set link_title = page.header.link_title ? page.header.link_title : 'Besök sidan' %}
    {% if page.header.link %}
      <a href="{{ page.header.link }}" class="button button-small i-arrow-right" target="_blank">{{ link_title }}</a>
    {% endif %}

    {{ page.content }}

    {% if page.header.link %}
      <a href="{{ page.header.link }}" class="button button-small i-arrow-right" target="_blank">{{ link_title }}</a>
    {% endif %}

  </article>
{% endif %}
